<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
      
	<!--给当前provider起个名字；  -->
	<dubbo:application name="dubbo-consumer-jar"/>
	
	<!--配置注册中心  -->
	<dubbo:registry address="192.168.242.130:2181" protocol="zookeeper"></dubbo:registry>
	
	<!--配置注解扫描  -->
	<!-- 扫的是自己的包，为了扫描@reference -->
	<dubbo:annotation package="com.zfy.service.impl"/>
	
</beans>